params {
  //genomeDir = "/hpc/hub_oudenaarden/mvanins/local/lib/reference/gencode/mmu_24/RPF_reference"
  genomeDir = "/hpc/hub_oudenaarden/mvanins/local/lib/reference/gencode/mmu_24/RPF_conda_reference"
  parseReads = "--id"
  parseAllReads = true
  ranger_model = "trained_model.RData"
}

process {
  withName: applyRandomForest {
    cpus = { check_max (12 , 'cpus') }
    memory = { check_max (250.GB + (100.GB * (task.attempt -1)), 'memory' ) }
    time = { check_max (12.h * task.attempt, 'time' ) }
  }

  withName: dedup_transcriptome {
    cpus = {check_max(1, 'cpus')}
    memory = {check_max(100.GB + (50.GB * task.attempt), 'memory') }
    cache = 'lenient'
  }
  
  withName: dedup_genome {
    cpus = { check_max(1, 'cpus') }
    memory = { check_max(100.GB + (50.GB * task.attempt), 'memory') }
    cache = 'lenient'
  }

  // withName: sort_dedup_genome {
  //   clusterOptions = "--gres=tmpspace:75G"
  // }

  // withName: sort_dedup_transcriptome {
  //   clusterOptions = "--gres=tmpspace:75G"
  // }


}

