params {
  // bulk = true
  genomeDir = "/hpc/hub_oudenaarden/mvanins/local/lib/reference/gencode/hsa_33/RPF_conda_reference"
  reads = "fastq/*.fastq.gz"
  threeadapter = "CTGTAGGCACCATCA" 
  trimming_method = 'single_homo'
  parseReads = "--id"
}

process {
  //withName: trim {
  //  cpus = { check_max (16 , 'cpus') }
  //  memory = { check_max (40.GB * task.attempt, 'memory' ) }
  //  time = { check_max (10.h * task.attempt, 'time' ) }
  //}

  withName: scRibo_QCplots_bulk {
    memory = { check_max( 100.GB + (70.GB*(task.attempt-1)), 'memory') }
  }

}
