params {
  //genomeDir = "/hpc/hub_oudenaarden/mvanins/local/lib/reference/gencode/hsa_33/RPF_reference"
  genomeDir = "/hpc/hub_oudenaarden/mvanins/local/lib/reference/gencode/hsa_33/RPF_conda_reference"
  bulk = true
  reads = "fastq/*.fastq.gz" 
  threeadapter = "AAAAAAAAAAAAAA"
  ranger_model = "trained_model.RData"
  parseReads = "--id"
  max_memory = 800.GB
  count_method = "darnell_2018/count_darnell"
  biotypes_method = "darnell_2018/biotypes_darnell"
}

process {
  // withName: applyRandomForest {
  //   maxRetries = 0
  //   cpus = { check_max (16 / task.attempt, 'cpus') }
  //   memory = { check_max (350.GB * task.attempt, 'memory' ) }
  //   time = { check_max (6.h , 'time' ) }
  // }
  withName: applyRandomForest {
    maxRetries = 0
    cpus = { check_max (8, 'cpus') }
    memory = { check_max (700.GB, 'memory' ) }
    time = { check_max (5.h , 'time' ) }
  }
}
