params {
  //genomeDir = "/hpc/hub_oudenaarden/mvanins/local/lib/reference/gencode/hsa_33/RPF_reference"
  genomeDir = "/hpc/hub_oudenaarden/mvanins/local/lib/reference/gencode/hsa_33/RPF_conda_reference"
  parseReads = "--id"
  parseAllReads = true
  ranger_model = "trained_model.RData"
}

process {
  withName: applyRandomForest {
    cpus = { check_max (24 , 'cpus') }
    memory = { check_max (250.GB + (100.GB * (task.attempt -1)), 'memory' ) }
    time = { check_max (12.h * task.attempt, 'time' ) }
  }
}
