/* base configuration for all pipelines
 * 
 */

process {
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }
  time = { check_max ( 4.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
}

params {
  // STAR
  STARmapParams = '--readFilesType Fastx \
    --readFilesCommand zcat \
    --outSAMtype BAM SortedByCoordinate \
    --quantTranscriptomeBan Singleend \
    --quantMode TranscriptomeSAM GeneCounts \
    --seedSearchStartLmax 10 \
    --alignIntronMax 1000000 \
    --outFilterType BySJout \
    --alignSJoverhangMin 8 \
    --outFilterScoreMin 0 \
    --chimScoreSeparation 10 \
    --chimScoreMin 20 \
    --chimSegmentMin 15 \
    --outFilterMismatchNmax 5'
  STARoutSamAttributes = 'NH HI AS nM NM MD jM jI MC ch'
  STARsoloSamAttributes = 'CR UR CB UB GX GN CY UY sS sQ sM'

  // Pipeline
  tracedir = "${params.outdir}/pipeline_info"
}
