// bulk configuration

params{
  extract_method = false 
  trim_method = 'trim/trim_single'
  deduplicate_genome_method = false
  deduplicate_transcriptome_method = false
  count_method = 'count/count_bulk'
  biotypes_method = 'biotypes/biotypes_bulk'
  count_site = 'cut5'
  count_expansion = 25
  qc_plots_method = 'qc_plots/qc_bulk' 

  bulk = true
  
  // scRibo
  // parseReads = "-s canonical"
  parseReads = "--id"
}

