// bulk configuration

params{
	extract_method = false 
	trim_method = 'trim/trim_single'
	deduplicate_genome_method = false
	deduplicate_transcriptome_method = false
	count_method = 'count/count_bulk'
	count_site = 'cut5'
	count_expansion = 25

	bulk = true
	
	// scRibo
	// parseReads = "-s canonical"
	parseReads = "--id"
}
