// CS1 configuration

params{
  extract_method = false
  trim_method = 'trim/trim_cs'
  deduplicate_genome_method = 'deduplicate/deduplicate_gene_genome'
  deduplicate_transcriptome_method = 'deduplicate/deduplicate_gene_transcriptome'
  count_method = 'count/count_RNA'
  biotypes_method = 'biotypes/biotypes_RNA'
  count_site = 'cut5'

  // STARSolo mapping
  whitelist = "${baseDir}/barcodes/CS1.whitelist"
  CBstart = 1
  CBlen = 8
  UMIstart = 9
  UMIlen = 4
  readStrand = "Forward"
  cDNARead = "R2"
  
  // scRibo
  // parseReads = "-s canonical"
  parseReads = "--id"
}

process{
  withName: dedup_genome {
    memory = { check_max (10.GB + (20.GB*(task.attempt-1)), 'memory' ) }
  }
  withName: dedup_transcriptome {
    memory = { check_max (10.GB + (20.GB*(task.attempt-1)), 'memory' ) }
  }
}
