// Default configuration

// default paramters for scRibo
params{
  whitelist = "${baseDir}/barcodes/miRv6.whitelist"
  extract_method = 'extract_umi/extract_default'
  trim_method = 'trim/trim_paired'
  deduplicate_genome_method = 'deduplicate/deduplicate_position'
  deduplicate_transcriptome_method = 'deduplicate/deduplicate_position'
  count_method = 'count/count_default' 
  biotypes_method = 'biotypes/biotypes_default'
  qc_plots_method = 'qc_plots/qc_default' 
  count_site = 'cut5'
  count_expansion = 25
  
  // STARSolo mapping
  CBstart = 1
  CBlen = 10
  UMIstart = 11
  UMIlen = 10
  readStrand = "Forward"
  cDNARead = "R1"
  
  // scRibo
  // parseReads = "-s canonical"
  parseReads = "--id"
}

