params {
  threeadapter = "AGATCGGAAGAGCA"
  genomeDir = "/hpc/hub_oudenaarden/mvanins/local/lib/reference/gencode/hsa_33/RPF_conda_reference"
  reads = "fastq/*.fastq.gz" 
  bulk = true
  parseReads = "--id"
}

process {
  withName: trim {
    cpus = { check_max (16 , 'cpus') }
    memory = { check_max (50.GB * task.attempt, 'memory' ) }
    time = { check_max (10.h * task.attempt, 'time' ) }
  }
  withName: scRibo_count {
    maxRetries = 1
    cpus = { check_max(1, 'cpus') }
    memory = { check_max(100.GB * task.attempt, 'memory') }
    time = {check_max(8.h, 'time')}
  }
  withName: scRibo_biotypes {
    maxRetries = 1
    cpus = { check_max(1, 'cpus') }
    memory = { check_max(100.GB * task.attempt, 'memory') }
    time = {check_max(8.h, 'time')}
  }
  withName: scRibo_QCplots_bulk {
    maxRetries = 1
    cpus = { check_max(1, 'cpus') }
    memory = { check_max(110.GB * task.attempt, 'memory') }
    time = { check_max(8.h, 'time') }
  }
}
