executor {
	name = 'slurm'
	queueSize = 2000
	queue = 'cpu'
}

params {
	// Workflow flags
	reads = "fastq/*_R{1,2}_001.fastq.gz"
	outdir = 'RPF_update'
	bulk = false
	deplete = false
	ranger_model = false

	// Trimming flags
	threeadapter = 'TGGAATTCTCGGGT'
	minlength = '15'

	// Cell barcode flags
	whitelist = "${baseDir}/barcodes/miRv6.whitelist"


	// Reference flags
	genomeDir = false
	genomeFasta = false
	annotations = false
	starOverhang = '50' 
	
}

// default configuration for scRibo
includeConfig "conf/default.config"

profiles{
	cs2 { includeConfig "conf/CS2.config" }
	cs1 { includeConfig "conf/CS1.config" }
	bulk { includeConfig "conf/bulk.config" }
}

// shared STAR mapping parameters
params{ 
	STARmapParams = '--readFilesType Fastx \
		--readFilesCommand zcat \
		--outSAMtype BAM SortedByCoordinate \
		--quantTranscriptomeBan Singleend \
		--quantMode TranscriptomeSAM GeneCounts \
		--seedSearchStartLmax 10 \
		--alignIntronMax 1000000 \
		--outFilterScoreMin 0 \
		--outFilterMultimapNmax 1 \
		--chimScoreSeparation 10 \
		--chimScoreMin 20 \
		--chimSegmentMin 15 \
		--outFilterMismatchNmax 5'
	STARoutSamAttributes = 'NH HI AS nM NM MD jM jI MC ch'
	STARsoloSamAttributes = 'CR UR CB UB GX GN CY UY sS sQ sM'
}

// to filter weird junctions
// params{ 
// 	STARmapParams = '--readFilesType Fastx \
// 		--readFilesCommand zcat \
// 		--outSAMtype BAM SortedByCoordinate \
// 		--quantTranscriptomeBan Singleend \
// 		--quantMode TranscriptomeSAM GeneCounts \
// 		--seedSearchStartLmax 10 \
// 		--alignIntronMax 1000000 \
// 		--outFilterType BySJout \
// 		--alignSJoverhangMin 8 \
// 		--outFilterScoreMin 0 \
// 		--outFilterMultimapNmax 1 \
// 		--chimScoreSeparation 10 \
// 		--chimScoreMin 20 \
// 		--chimSegmentMin 15 \
// 		--outFilterMismatchNmax 5'
// 	STARoutSamAttributes = 'NH HI AS nM NM MD jM jI MC ch'
// 	STARsoloSamAttributes = 'CR UR CB UB GX GN CY UY sS sQ sM'
// }

params {
	tracedir = "${params.outdir}/pipeline_info"
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

